:root{
    --fbColor: #305db8;
}
body {
    margin: 0 auto;
    height: 100vh;
    background-image: url("../images/myjourney.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


* {
    box-sizing: border-box;
  } 
 

.main-nav {
    padding: 15px 70px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.301);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo a {
    /* opacity: 1; */
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  .logo a:hover {
      color: #3cb878;
  }
  .nav {
      display: flex;
    flex-direction: row;
    justify-content: space-between;
} 
.sprite-icon {
    padding: 0 18px;
    margin: 0; 
    position: relative;
}
.sprite-icon:after {
    content: "";
    width: 1px;
    height: 80%;
    position: absolute;
    background-color: #302e2f;
    top: 20%;
    right: 0;
  }
  .calendar-icon {
    background-image: url("journeyy.png");
    background-position: -125px -1px;
    display: inline-block;
    height: 100%;
    width: 50px;
}
  .forum-icon {
      display: inline-block;
      background: url("journeyy.png");
    background-position: -35px -1px;
    height: 100%;
    width: 50px;
}
  .compass-icon {
      background: url("journeyy.png");
    background-position:-79px -1px; 
    height: 100%;
    width: 50px;
    display: inline-block;

}
  .calendar-icon:hover ,
  .forum-icon:hover ,
  .compass-icon:hover {
    filter: invert(53%) sepia(90%) saturate(6800%) hue-rotate(149deg)
    brightness(100%) contrast(70%);
  }
     
  

  .main-box-signin {
      padding-top: 3px;
    padding-left: 22px;
    margin: 0;
    color: white;
    font-size: 14px;
    text-align: center;
}


.main-box-signin a {
    text-decoration: none;
    color: #3cb878;
} 
.main-box-signin a:hover {
    border-bottom: 1px solid #3cb878;
    color: #3cb878;
}

.container {
    display: flex;
    margin: 30px;
    position: absolute;
    flex-direction: row;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    background-color: white;
    height: 576px;
    width: 430px;
    transform: translate(-50%, -50%);
}
.tiny-box {
    position: absolute;
    left: 0;
    top: 10px;
    border: 1px solid #3cb878;
    height: 20px;
    width: 20px;
    margin-top: 28px;
    background-color: #3cb878;
} 
  .login-form {
      position: relative;
      display: flex;
      /* margin-left: -20px; */
      flex-direction: column;
      padding: 30px 60px;
    height: 100%;
    width: 100%;
    justify-content: space-between;
} 
  .log  {
      color:#3cb878 ;
      font-size: 13px ;
      padding-top: 5px ;
      
  }
  .box-heading {
      color:black ;
      font-size: 32px; 
    }
    .buttons {
        display: flex;
        justify-content: space-between;  
        width: 100%;
       font-size: 24px;
       align-items: center;    
       height: 40px;
       
}
.buttons.facebook:hover {
cursor: pointer;
}
.facebook {

    display: flex;
    background-color: var(--fbColor);
    border:0 ;
    border-radius: 3px;
   padding: 11px;
   align-items: center ;
   width:150px ;
   cursor: pointer;
}
.fb-split {
    display:flex;
    background-color: var(--fbColor);
    width:5px ;
    height:25px ;
       
}
.fb-word {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: white;
    position: relative;
    
}
.facebook img {
    width: 30 px;
    height:30 px; 
    align-items: center;

}
.facebook:hover {
    background-color: #254b95;
}
.facebook:hover .fb-split{
    background-color: #254b95;
}
.google {
    display: flex;
    align-items: center;
    background-color: #df4a32;
    border:0 ;
    border-radius: 3px;
    padding:11px;
    width:150px ;
    cursor: pointer;
}
.google-split {
    display: inline-block;
    width:5px ;
    height:25px ;
    transform: translateX(15px);
    padding-top: 10px;
}
.google-word {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: white;
    position:relative;
    padding-left: 2px;
}
.google img {
    width: 30px;
    height:30px; 
    margin: 0.3em;
    border-radius: 0.3em; 
    align-items: center;
 }
 .google:hover {
     background-color: #c3412b;
 }
 .thin-or--lines {
     display: flex;
    align-items: center;
 }
.or-line-left {
    margin-left: 15px;
    margin-right: 15px ; 
    border-bottom: 1px solid #eaeaea ;
     width: 170px;
     height: 1px; 
    
 }
 .line-text {
     position: relative;
     color: #848484 ;
    

 }
 .or-line-right {
    margin-left: 15px;
    margin-right: 15px ; 
     border-bottom: 1px solid #eaeaea;
     width: 170px;
     height: 1px;
 }
 .user-info {
    height: 40px;
    margin: -10px 0;
    padding-left: 15px;
    border: solid 1px lightgrey;
    border-radius: 2px;
    transition: all 0.3s;
    outline: none;
  
 }
 .user-info:focus {
     border:   1px solid transparent;
border-bottom:#eaeaea;
outline:none;
 }
 input[type="text"]{
font-size:15px; 
padding:13px ;



 }
input[type="password"]{
    font-size:15px; 
    padding:13px ;
 }
 input[type="checkbox"]{
     color: black;
 }
 .agreement{
     cursor: pointer;
     color: black;
 }
 .terms{
     color:#319965;
     margin-left: 5px;
 }

 .terms:hover {
     color: grey;
    
}


.box-checking {
    color:white;
    font-size: 20px;
    padding: 10px;

}

.box-header{
    font-size: 24px;
    color: black;
}
.log{
    float: right;
    font-size: 14px;
    margin-top: 10px;
    text-decoration: none;
}
.create {
    border: 0;
    border-radius: 2px;
    background-color:#319965 ;
    color:white;
    font-size: 20px;
    padding:10px ; 
}
label {
    display: flex;
}
button.google img{
    margin: 0;
    padding:6px 4px;
    border-right: 1px solid rgba(129, 129, 129, 0.651);
    border-radius: 0;
    /* position: absolute; */
}
button.facebook img{
    margin: 0;
    /* padding:6px 4px; */
    border-right: 1px solid rgba(129, 129, 129, 0.651);
    border-radius: 0;
    /* position: absolute; */
}

.create {
    cursor: pointer;
}